* {
  transition: all 200ms;
  font-family: "Atkinson Hyperlegible", Roboto, sans-serif;
}

body {
  background-color: #61764b;
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

aside {
  box-shadow: 1rem; /* TODO: Make the chat window cast a shadow to the left onto the board  */
}

:root {
  height: 100%;
}
